 
	<div id="content-onecol"> 
 
	
		
			<div class="post-235 page type-page hentry" id="post-235"> 
<!--
				<h2><a href="http://cdc-phil.releaseourdata.com/?page_id=235" rel="bookmark" title="Permanent Link to "></a></h2>
--> 
				
				
 
				<div class="entry"> 

<div style="text-align: center; width: 100%; display: block;"> 
    <img style="display: inline-block" src="{{image_urls.lores}}"  /> 
</div> 
    <p> 
<div id="desc"> 
    {{ image.desc|safe }}
</div> 
 
<div id="not_desc"> 
 
<h6>Downloads:</h6> 
<div class="block_datapt"> 
<ul> 
    <li>Low Resolution: <a href="{{image_urls.lores}}">ROD server</a>,<a href="{{image.url_to_lores_img}}">CDC server</a></li> 
    <li>High Resolution: <a href="{{image_urls.hires}}">ROD server</a>, <a href="{{image.url_to_hires_img}}">CDC server</a></li> 
    <li>Thumbnail: <a href="{{image_urls.thumb}}">ROD server</a>, <a href="{{image.url_to_thumb_img}}">CDC server</a></li> 
<li></li> 
</ul> 
</div> 
 

{% if image.copyright %}
<h6>Copyright Status</h6>
<div class="block_datapt">
<p>
{{image.copyright|safe}}
</p>
</div>
{% endif %}

{% if image.location %}
<h6>Location</h6>
<div class="block_datapt">
<p>
{{image.location}}
</p>
</div>
{% endif %}

{% if image.disasters%}
<h6>Disasters:</h6>
<div class="block_datapt">
{{image.disasters|safe}}
</div>
{% endif %}


<p class="datapoint">
    <strong class="label">Image Id:</strong>
    {{image.id}}
</p>


{% if image.dimensions%}
<p class="datapoint">
    <strong class="label">Dimensions:</strong>
    {{image.dimensions}}
</p>
{% endif %}

{% if image.size%}
<p class="datapoint">
    <strong class="label">Size:</strong>
    {{image.size}}
</p>
{% endif %}

{% if image.photo_date %}
<p class="datapoint">
    <strong class="label">Photo Date:</strong>
    {{image.photo_date}}
</p>
{% endif %}

{% if image.original_filename%}
<p class="datapoint">
    <strong class="label">Original Filename:</strong>
    {{image.original_filename}}
</p>
{% endif %}

{% if image.page_permalink%}
<p class="datapoint">
    <strong class="label">Original Page Permalink:</strong>
    <a href="{{image.page_permalink}}">{{image.page_permalink}}</a>
</p>
{% endif %}


{% if image.categories %}
<h6>Categories:</h6>
<div class="block_datapt">
    {{image.categories|safe}}
</div>
{% endif %}

{% if image.their_data %}
    {{image.their_data|safe}}
{% endif %}
 
</div> 
								
 
				</div> 
					
 
 
				<div class="clearfix"></div> 
 
			</div> 
 
 
</div> 
	</div> 
