 
	<div id="content-onecol"> 
 
	
		
			<div class="post-235 page type-page hentry" id="post-235"> 
<!--
				<h2><a href="http://cdc-phil.releaseourdata.com/?page_id=235" rel="bookmark" title="Permanent Link to "></a></h2>
--> 
				
				
 
				<div class="entry"> 

<div style="text-align: center; width: 100%; display: block;"> 
    <img style="display: inline-block" src="{{image_urls.lores}}"  /> 
</div> 
    <p> 
<div id="desc"> 
    {{ image.desc|safe }}
</div> 
 
<div id="not_desc"> 
{% if image.source %}
<h4>Source</h4>
<div>
    {{image.source}}
</div>
{% endif %}
 
<h6>Downloads:</h6> 
<div class="block_datapt"> 
<ul> 
    <li>Low Resolution: <a href="{{image_urls.lores}}">ROD server</a>,<a href="{{image.url_to_lores_img}}">CDC server</a></li> 
    <li>High Resolution: <a href="{{image_urls.hires}}">ROD server</a>, <a href="{{image.url_to_hires_img}}">CDC server</a></li> 
    <li>Thumbnail: <a href="{{image_urls.thumb}}">ROD server</a>, <a href="{{image.url_to_thumb_img}}">CDC server</a></li> 
<li></li> 
</ul> 
</div> 
 

{% if image.copyright %}
<h6>Copyright Status</h6>
<div class="block_datapt">
<p>
{{image.copyright|safe}}
</p>
</div>
{% endif %}

{% if image.links%}
<h6>Related Links:</h6>
<div class="block_datapt">
{{image.links|safe}}
</div>
{% endif %}


<p class="datapoint">
    <strong class="label">Image Id:</strong>
    {{image.id}}
</p>

{% if image.creation%}
<p class="datapoint">
    <strong class="label">Creation Date:</strong>
    {{image.creation}}
</p>
{% endif %}

{% if image.credit %}
<p class="datapoint">
    <strong class="label">Photo Credit:</strong>
    {{image.credit}}
</p>
{% endif %}

{% if image.provider %}
<p class="datapoint">
    <strong class="label">Content Providers(s):</strong>
    {{image.provider}}
</p>
{% endif %}


{% if image.categories %}
<h6>Categories:</h6>
<div class="block_datapt">
    {{image.categories|safe}}
</div>
{% endif %}

<p class="datapoint">
<a href=" http://phil.cdc.gov/phil/details.asp?pid={{image.id}}">Original Page at CDC PHIL &raquo;</a>

</p>
 
 
</div> 
								
 
				</div> 
					
 
 
				<div class="clearfix"></div> 
 
			</div> 
 
 
</div> 
 
 
				<p class="postmetadata alt"> 
					<small> 
						You can follow any comments to this entry through the <a href='http://cdc-phil.releaseourdata.com/?feed=rss2&amp;page_id=235'>RSS 2.0</a> feed.
 
													You can <a href="#respond">leave a comment</a>, or <a href="http://cdc-phil.releaseourdata.com/wp-trackback.php?p=235" rel="trackback">trackback</a> from your own site.
 
						
					</small> 
				</p> 
	
	</div> 
